/* body {
    background: #8d9dea;
} */

.container {
    text-align: center;
    width: 100%;
    line-height: 40px;
}

.hide {
    display: none;
}

.show {
    display: inline;
}

.task {
    display: flex;
    background-color: rgb(28, 116, 198);
    height: 80px;
    width: 500px;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}

.button {
    background-color: rgb(118, 189, 234);
}

.done {
    background-color: rgb(88, 232, 117);
    display: flex;
    height: 80px;
    width: 500px;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}

.task>button,
.done>button {
    width: 25%;
    height: 42px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
}